<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Msagl" version="1.1.1" targetFramework="net452" />
  <package id="Syncfusion.Licensing" version="16.2.0.50" targetFramework="net46" />
  <package id="Syncfusion.Shared.WPF" version="16.2.0.50" targetFramework="net46" />
  <package id="Syncfusion.Tools.WPF" version="16.2.0.50" targetFramework="net46" />
  <package id="Syncfusion.SfDiagram.WPF" version="16.2.0.50" targetFramework="net46" />
  <package id="Syncfusion.PropertyGrid.WPF" version="16.2.0.50" targetFramework="net46" />
</packages>